<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <span class="text-600 font-medium">Did you Forget your Password ?</span>
                </div>
                <form class="form-body" (ngSubmit)="onSubmit()">
                <div>
                    <label for="inputEmail" class="block text-900 text-xl font-medium mb-2">Email</label>
                    <input type="email" id="inputEmail" placeholder="Enter Email Address" [(ngModel)]="form.email" name="email" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem" required>

                    <button pButton pRipple label="Send Mail" class="w-full p-3 text-xl"></button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
